canvas {
	border: 1px solid black;
}

#conteneur{
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	position: 	relative;	


}

#conteneur #quizz {
    width: 960px;
    height: 640px;
    position: absolute;
    background-color: red;
    top: 0;
    left: 0;
}

.none{
	display: none;
}

.inline-block{
	display: inline-block;

}
